<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feichai.system.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="org.feichai.system.domain.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
    <select id="findUserRole" resultMap="BaseResultMap">
      select tr.*
      FROM
        t_role tr
          LEFT JOIN t_user_role tur ON tr.ROLE_ID=tur.ROLE_ID
          LEFT JOIN t_user tu ON tu.USER_ID = tur.USER_ID
      WHERE
        tu.USERNAME = #{userName};
    </select>
</mapper>